{{- $gitUser:= promptString "Git user" -}}
{{- $gitEmail := promptString "Git email" -}}
{{- $gitSigningKey := promptString "Git gpg signing key" -}}
[data]
  git_name = "{{ $gitUser }}"
  git_email = "{{ $gitEmail }}"
  git_signing_key = "{{ $gitSigningKey }}"

  i3_ethernet_interfaces = []
  i3_wireless_interfaces = []

