[core]
  editor = vim

[user]
  name = "{{ .git.name }}"
  email = "{{ .git.email }}"
  signingKey = "{{ .git.signing_key }}"

[commit]
  gpgsign = true

[url "https://github.com/"]
  insteadOf = gh:

