[core]
  editor = vim

[user]
  name = "{{ .git_name }}"
  email = "{{ .git_email }}"
  signingKey = "{{ .git_signing_key }}"

{{if .git_signing_key}}
[commit]
  gpgsign = true
{{end}}

[url "https://github.com/"]
  insteadOf = gh:

