#!/bin/bash
# {{ .chezmoi_managed }}

set -o errexit  # exit if non-zero status code is returned
set -o nounset  # exit if undefined variable is used
set -o pipefail # exit if no-zero status code is returned in a pipeline

_have() { type "$1" &>/dev/null; }

source ~/.zshenv

{{ if eq .chezmoi.os "linux" }}
########################################
# Install fzf binaries and completions
########################################
_version_ge()
{
    printf '%s\n%s\n' "$2" "$1" | sort --check=quiet --version-sort
}

_install_fzf() {
    VERSION=$(fzf --version | awk '{print $1}')
    # Remove old versions of fzf
    if _have fzf && ! _version_ge "${VERSION}" "0.42.0"; then
        sudo apt-get remove -y fzf
    fi
    ./install --no-update-rc --key-bindings --completion --xdg
    cp bin/fzf bin/fzf-tmux ~/.local/bin/
}
cd "${XDG_DATA_HOME:-$HOME/.local/share}/fzf"
_install_fzf 
cd -
{{ end }}

{{ if eq .chezmoi.os "darwin" }}
########################################
# Install fzf binaries and completions
########################################
if ! _have brew; then
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    source <(/opt/homebrew/bin/brew shellenv)
fi

if ! _have bat; then
    brew install bat
fi

if ! _have fzf; then
    brew install fzf
    cd $(brew --prefix)/opt/fzf
    ./install --no-update-rc --key-bindings --completion --xdg
    cd -
fi
{{ end }}
