#!/bin/bash

set -o errexit  # exit if non-zero status code is returned
set -o nounset  # exit if undefined variable is used
set -o pipefail # exit if no-zero status code is returned in a pipeline

{{ if .include_repos }}
source ~/.zshenv

cd "${GHREPOS}" || exit 1
# clone jlrickert/zet
# clone jlrickert/zettel

{{ end }}
