#!/bin/bash

_have() { type "$1" &>/dev/null; }

_log() {
    echo "$@"
    "$@"
}

_sudo() {
    if [[ "$(whoami)" = "root" ]]; then
        "$@"
    else
        sudo "$@"
    fi
}

{{ if .is_ubuntu }}
    {{- if .is_wsl -}}
_log _sudo add-apt-repository ppa:wslutilities/wslu --yes
    {{- end }}
_log _sudo apt-get update --yes
_log _sudo apt-get remove --yes fzf ## fzf is installed later
_log _sudo apt-get install --yes \
    apt-transport-https apt-utils atool bash-completion bc bind9-dnsutils btop \
    build-essential ca-certificates cifs-utils curl dialog direnv ed entr \
    fd-find figlet gh git htop httpie iputils-ping jq less \
    libcurses-perl libncurses5 lolcat lynx make man-db ncal net-tools \
    nmap perl pgformatter python3 python3-argcomplete python3-pip ranger \
    ripgrep rsync shellcheck shfmt silversearcher-ag smbclient \
    software-properties-common ssh sshfs sshpass stow sudo tig tmux tree \
    unzip vim wget {{ if .is_wsl -}} wslu {{- end }} xclip zip zsh

_log ln -sf "$(which fdfind)" "${HOME}/.local/bin/fd"
{{- end }}

{{ if .is_macos }}
if ! _have /opt/homebrew/bin/brew; then
    _log /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    _log source <(/opt/homebrew/bin/brew shellenv)
    _log brew install ansible ripgrep yq jq yabai zsh-completions ranger watchman fnm exa entr bash bash-completion@2
fi
{{ end }}

{{ if .is_arch }}
_log _sudo pacman --sync --refresh --noconfirm \
    ansible-core bash-completion bc btop curl entr fd git github-cli httpie jq \
    pandoc shellcheck patch pkgconf python ranger ripgrep tig tmux yq zip zsh
{{ end }}
