#!/bin/bash
# {{ .chezmoi_managed }}

set -o errexit  # exit if non-zero status code is returned
set -o nounset  # exit if undefined variable is used
set -o pipefail # exit if no-zero status code is returned in a pipeline

_have() { type "$1" &>/dev/null; }

_log() {
    echo "$@"
    "$@"
}

_sudo() {
    if [[ "$(whoami)" = "root" ]]; then
        "$@"
    else
        sudo "$@"
    fi
}

_log source "${HOME}/.zshenv"

if ! _have fzf; then
    _log cd "${HOME}/.local/share/fzf"
    _log ./install --no-update-rc --xdg --completion --key-bindings
    _log ln -sf "$(pwd)/bin/fzf" "${HOME}/.local/bin/fzf"
    _log ln -sf "$(pwd)/bin/fzf" "${HOME}/.local/bin/fzf-tmux"
    _log cd -
fi

{{ if .setup_go }}
if ! _have keg; then
    _log go install github.com/rwxrob/keg/cmd/keg@latest
fi

if ! _have auth; then
    _log go install github.com/rwxrob/auth-go/cmd/auth@latest
fi

if ! _have gocomplete; then
    _log go install github.com/posener/complete/gocomplete@latest
fi

if ! _have gopls; then
    _log go install golang.org/x/tools/gopls@latest
fi

if ! _have mods; then
    _log go install github.com/charmbracelet/mods@latest
fi
{{ end }}

{{ if .setup_hugo }}
if ! _have hugo; then
    _log CGO_ENABLED=1 go install -tags extended github.com/gohugoio/hugo@latest
fi
{{ end }}

{{ $install_rust := (or .setup_rust .setup_node (and .setup_lua (not .is_arch))) }}
{{ if $install_rust }}
if ! _have cargo; then
    _log cd "$(mktemp -d)" || exit 1
    _log curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs >rustup.sh
    # export RUSTUP_HOME="${XDG_DATA_HOME:-$HOME/.local/share}/rustup"
    # export CARGO_HOME="${XDG_DATA_HOME:-$HOME/.local/share}/cargo"
    if [[ "$(sha256sum rustup.sh | awk '{print $1}')" = "be3535b3033ff5e0ecc4d589a35d3656f681332f860c5fd6684859970165ddcc" ]]; then
        _log sh rustup.sh --no-modify-path -y
    fi
    # Re-sourcing adds rusts paths
    _log source ~/.zshenv
    cd -
fi

if ! _have starship; then
    {{ if .is_arch}}
    _log _sudo pacman --sync --needed --noconfirm starship
    {{ else }}
    _log curl -sS https://starship.rs/install.sh | sh
    {{ end }}
fi

if ! _have exa; then
    {{ if .is_arch }}
    _log _sudo pacman --sync --needed --noconfirm exa
    {{ else }}
    _log cargo install exa
    {{ end }}
fi
{{ end }}

{{ if .setup_lua }}
if ! _have stylua; then
    {{ if .is_arch }}
    _log _sudo pacman --sync --needed --noconfirm stylua
    {{ else }}
    _log cargo install stylua
    {{ end }}
fi
{{ end }}

{{ if .setup_node }}
if ! _have fnm; then
    _log cargo install fnm
    _log eval "$(fnm env --use-on-cd --shell=bash)"
    _log mkdir -p "${ZSH_HOME:-$HOME/.local/share/zsh}/completions"
    _log fnm completions --shell zsh >"${ZSH_HOME}/completions/_fnm"
    _log source <(fnm env)
fi

if ! _have node; then
    _log fnm install --lts
fi
{{ end }}

# FIXME: This requires user intervention because it complains about plugins not
# being installed.  Classic chicken and egg problem.
# vim +PlugInstall +qall
# vim +CocUpdateSync +qall
