# {{ ansible_managed }}

host home
    HostName jlrickert.me
    User jlrickert
    IdentitiesOnly yes
    IdentityFile ~/.ssh/id_rsa

host jlrickert.me
    HostName jlrickert.me
    User jlrickert
    IdentitiesOnly yes
    IdentityFile ~/.ssh/id_rsa

host csci310
    Hostname csci2.stcloudstate.edu
    User cs310119
    IdentitiesOnly yes
    IdentityFile ~/.ssh/id_rsa

host club
    HostName 45.55.177.165
    User jlrickert
    IdentityFile ~/.ssh/id_rsa
