# {{ ansible_managed }}

host home
    HostName jlrickert.me
    User jlrickert
    IdentitiesOnly yes
    IdentityFile ~/.ssh/id_rsa

host club
    HostName 45.55.177.165
    User jlrickert
    IdentityFile ~/.ssh/id_rsa
