# {{ ansible_managed }}

export XDG_CONFIG_HOME="{{ config_dir|regex_replace('^~', '$HOME') }}"
export XDG_DATA_HOME="{{ data_dir|regex_replace('^~', '$HOME') }}"
export XDG_CACHE_HOME="{{ cache_dir|regex_replace('^~', '$HOME') }}"

export REALUSER="Jared Rickert"
export ARCHFLAGS="-arch x86_64"
export BROWSER="firefox-esr"
export EDITOR="vim"
export PAGER="less"
export VISUAL="vim"

export SYNC="$HOME/Sync"
export SECRETS="$SYNC/secrets"

export MY_ZSH="$XDG_DATA_HOME/zsh"
export ZSH="$XDG_DATA_HOME/oh-my-zsh"
export ZSH_CUSTOM="$MY_ZSH/custom"

export ANSIBLE_CONFIG="$SECRETS/etc/ansible/ansible.cfg"