!! {{ ansible_managed }}
!! Colorscheme
! special colors
*.foreground:  #93a1a1
*.background:  #002b36
*.cursorColor:  #93a1a1
! black
*.color0:      #002b36
*.color8:      #657b83
! red
*.color1:      #dc322f
*.color9:      #dc322f
! green
*.color2:      #859900
*.color10:     #859900
! yellow
*.color3:      #b58900
*.color11:     #b58900
! blue
*.color4:      #268bd2
*.color12:     #268bd2
! magenta
*.color5:      #6c71c4
*.color13:     #6c71c4
! cyan
*.color6:      #2aa198
*.color14:     #2aa198
! white
*.color7:      #93a1a1
*.color15:     #fdf6e3

!! Appearance
URxvt.font:             xft:DejaVu Sans Mono:pixelsize=12
URxvt.letterSpace:      0

*antialias:             true
*autohint:              true
URxvt*transparent:      false
URxvt.geometry:         92x24

!! General Config
URxvt*scrollBar:        true
URxvt*scrollBar_right:  true
URxvt*scrollstyle:      plain

URxvt*urgentOnBell:     false
URxvt*visualBell:       true

URxvt.perl-ext-common:  default,matcher
URxvt.url-launcher:     firefox
URxvt.matcher.button:   1

!! Keyboard Config
URxvt.keysym.C-minus:   resize-font:smaller
URxvt.keysym.C-plus:    resize-font:bigger

